@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-redux-toastr/src/styles/index";
@import "colors";

* {
  @apply p-0 m-0 box-border;
}

html {
  @apply h-full;
}

body {
  @apply bg-neutral-50 h-full overflow-hidden flex;
}

svg {
  shape-rendering: geometricPrecision;
}

input {
  &:-webkit-autofill,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active,
  &:-webkit-autofill:hover{
    transition: background-color 9999s ease-in-out 0s;
  }
}

#__next {
  @apply h-full w-full;
}

.redux-toastr {
  .toastr {
    @apply shadow;

    .rrt-holder {
      @apply flex justify-center items-center;
    }

    &.rrt-success {
      background-color: $primaryColor;
    }

    &.rrt-warning {
      background-color: $warningBgColor;
    }

    &.rrt-info {
      background-color: $infoBgColor;
    }

    &.rrt-error {
      background-color: $errorBgColor;
    }
  }

}